.modal{
    position:fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #17212B;
    width: 320px;
}

.modal-item{
    margin: 5px;
}

.modal-content li{
    cursor: pointer;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 8px;
}

.modal-content li:hover{
    background-color: #2f4152;
}

.modal-content li span{
    margin-left: 5px;
}

.modal.active{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}